html
	head
		title Events
		link(rel="stylesheet" href="../css/.css")
		style
			include ../css/event.css
	body
		header
			nav
				div
					a(href= "/logout") Logout
				div
					a(href= "/") Home
				div
					a(href= "/profile") Profile
				div
					a(href= '/myposts') My Events
				div
					a(href='/post') Event Calender
				div
					a(href='/about') About
				div
					a(href='/contact') Contact Us

		main
			h1 All Events
			each event in events
				each user in users
					if event.userId===user.id
						h2 #{user.firstname} #{user.lastname} posted at #{event.createdAt}:
						h3 #{event.title}
						p Description: #{event.description}
						p Location: #{event.location}
						p Date: #{event.date}
						each comment in event.comments
							each user in users
								if comment.userId === user.id
									h4 #{user.firstname} #{user.lastname} commented:
									p #{comment.body}
						form(action='/comment' method='post')
							h4 Comment:
							textarea(name= 'comment' id='comment' placeholder= 'Post your comment!')
							input(type='hidden' name='eventId' value=event.id)
							br
							br
							input(type='submit' value='Submit your comment!')
			else
				h2 You haven't posted anything yet!
			h2 Post your awesome event!
			form(action='/event' method='post')
				h3 Title:
				input(name= 'title' id='title' placeholder= 'Type your title' required)
				h3 Describe this event:
				textarea(name= 'description' id='description' placeholder= 'Type your message' required)
				h3 Where is this event located?
				textarea(name='location' id='location' placeholder= 'Type the adress.' required)
				h3 When is this event?
				input(type='date' name='date' require)
				br
				br
				div#locationField
					input#autocomplete(placeholder='Enter your address', onfocus='geolocate()', type='text')
				table#address
					tr
						td.label Street address
						td.slimField
							input#street_number.field(disabled='true')
						td.wideField(colspan='2')
							input#route.field(disabled='true')
					tr
						td.label City
					td.wideField(colspan='3')
						input#locality.field(disabled='true')
					tr
						td.label State
						td.slimField
							input#administrative_area_level_1.field(disabled='true')
						td.label Zip code
						td.wideField
							input#postal_code.field(disabled='true')
					tr
						td.label Country
						td.wideField(colspan='3')
							input#country.field(disabled='true')
				input(type= 'submit' value= "Submit your post!")
				script
					include ../js/event.js
				script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC69bzh_p1WJDrzHaxQmOtZiCUwhJdyR38&libraries=places&callback=initAutocomplete', async='', defer='')
		footer
			h4 &copy; 2017 Align Inc. All rights reserved.
